<img class="arrow-img" src="../images/arrow.png">
    <h1>{{{campaign.title}}}</h1>
<div class="campaign-image-container">
    <img src="{{campaign.image}}" >
</div>
<div>
    <div class="text-content">
     {{{campaign.fulltext}}}
    </div>
</div>