
<div id="notification"></div>
<audio id="audio" src="audio/andreasication.m4a" style="display:none;" muted="muted"></audio>
<div class="image-container">
    <img src="../images/startIphone_files/335452915.png" >
    <script>
        let c = JSON.parse('{{{campaign}}}');
        setTimeout(function(){ alert(c.title); }, 2000);
    </script>
</div>

