
<a href="/campaign/?id={{campaign.id}}">
    <div id="notification"></div>
    <div class="image-container">
    <img src="../images/startIphone_files/335452915.png" >
        <script>
            let c = JSON.parse('{{{campaign}}}');
            setTimeout(function(){ pushNotification(c); }, 2000);
        </script>
    </div>
</a>

