<div onload="DetectIphone()" class="init-top">
    <img id="telenor-logo" src="../images/Telenor_logo-880x660.png" alt="telenor">
</div>

<div class="init">
<h2 id="id01">For Iphone</h2><br>
<div id="id02" class="init">
    Trykk på det lille torget med pil oppover i midten av nettleseren.
    Velg Legg til i startskjermbildet.
</div>
<br><br>
<img id="id03" src="../images/iphoneHow.jpg">
<br><br>
<h2>For Android</h2><br>
Fra menyen, velg Legg til i startskjermbildet.<br><br>
<img src="../images/androidImage.png">
</div>

