<div class="init">
<div>
    <img id="telenor-logo" src="../images/Telenor_logo-880x660.png" alt="telenor">
</div>
<h2>For Iphone</h2><br>
Trykk på det lille torget med pil oppover i midten av nettleseren.
Velg Legg til i startskjermbildet.<br><br>
<img src="../images/iphoneHow.jpg">
<br><br>
<h2>For Android</h2><br>
Fra menyen, velg Legg til i startskjermbildet.<br><br>
<img src="../images/androidImage.PNG">
</div>

